SOLANA_RPC_URL=http://host.docker.internal:8899
PROGRAM_ID=8rqv4B1Sw4xweu4kWEHGnqoTQbQvRKuxSturDsz32i4v
TOKEN_MINT=So11111111111111111111111111111111111111112
CHAIN_AUTHORITY_SECRET=
MOCK_CHAIN=true
MOCK_REQUIRED_STAKE=1000000000
ADMIN_KEY=local-admin
CS2_SERVER_ADDRESS=127.0.0.1:27015
VITE_API_URL=http://localhost:3001
STEAM_API_KEY=
STEAM_ACCOUNT=
RCON_PASSWORD=bet1v1-local
SERVER_PASSWORD=
CS2_LAN=0
Q3JS_MASTER_URL=https://master.q3js.com
Q3JS_PUBLISH_HOST=localhost
Q3JS_SECURE=false
